<table>

  <tr>
    <td>


<p>id : &nbsp;&nbsp;<%= result._id %></p>
<p>created at : &nbsp;&nbsp; <%= result.created_at %></p>
<p>updated at : &nbsp;&nbsp; <%= result.updated_at %></p>
<p>write : &nbsp;&nbsp; <%= result.writer %></p>
<p>title : &nbsp;&nbsp;<%= result.title %></p>
<p>content : &nbsp;&nbsp;<%= result.content %></p>
<p>path : &nbsp;&nbsp;<%= result.path %></p>

  <p>file: <% if(!result.file || typeof result.file === 'undefined') { %>
    there is no file
    <% }else{ %>
      <%= result.filepath %>
  </p>

</td>
</tr>

</table>

  <% } %>

  
<br>
<form method="post" action="/work/edit" >
    <input type="hidden" name="edit_id" value="<%= result._id %>">
    <input type="submit" value="edit" />
</form>
<br>
<form method="post" action="/work/delete" >
   <% if(result.file) { %>
    <input type="hidden" name="pre_filepath" value="<%= result.filepath %>" />   
    <% } %>
    <input type="hidden" name="id" value="<%= result._id %>">
    <input type="submit" value="delete" />
</form>



