     
<div id= "view" >
    <table>
    <tr>
      <th>title</th>
      <td><%= result.title %></td>
    </tr>
    <tr>
      <th>parentId</th>
      <td><%= result.parentId %></td>
    </tr>
    <tr>
      <th>path</th>
      <td><%= result.path %></td>
    </tr>
    <tr>
      <th>id</th>
      <td><%= result._id %></td>
    </tr>
    <tr>
      <th>created at</th>
      <td><%= result.created_at %></td>
    </tr>
    <tr>
      <th>writer</th>
      <td><%= result.writer %></td>
    </tr>
    <tr>
      <th>content</th>
      <td><%= result.content %></td>
    </tr>
    <tr>
      <th>filepath</th>
      <td id="filepath"><%= result.filepath %></td>
    </tr>
    <tr>
      <th>updated at</th>
      <td><%= result.updated_at %></td>
    </tr>
  </table>

  
  <form method="post" action="/works/form" >
    <input type="hidden" name="parentId" value="<%= result._id %>">
    <input type="submit" value="add child" class="btn-link" />
  </form>

  <form method="post" action="/works/form" >
    <input type="hidden" name="edit_id" value="<%= result._id %>">
    <input type="hidden" id="filepath" value="<%= result.filepath %>">
    <input type="submit" value="edit" class="btn-link" />
  </form>
  
  <form method="post" action="/works/delete" >
    <% if(result.file) { %>
    <input type="hidden" name="pre_filepath" value="<%= result.filepath %>" />   
    <% } %>
    <input type="hidden" name="id" value="<%= result._id %>">
    <input type="submit" value="delete" class="btn-link" />
  </form>
  
</div> 